/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Handlee&family=Hubballi&family=Nunito:wght@300&family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap'); */

body {
  margin:0;
  padding:0;
  background:#222 !important;
  color:#eaeaea;
  font-size:16px;
  line-height:1.5;
  font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
}

main, header {
  background: #222;
}

#newsfeed-container {
  display: grid;
  grid-template-columns: 1fr;
  background: #222;
  color: #caa851;
}

h1, h2, h3, h4, h5, h6, .title {
  color: #caa851;
  text-align: center;
  font-weight:normal;
  background:#222;
  letter-spacing:-0.03em;
  text-shadow:0 1px 1px rgba(249, 236, 236, 0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
}

h3 { font-size: 1rem !important; }

h4 { font-size: .85rem !important; background: #222 !important;}

h5 { font-size: .7rem; }

#text, footer {
  color:#e7e5e5 !important;
}

.standout {
  padding: 0;
  margin: 0;
  color:magenta;
}

.overlay {
  background: #111 !important;
  border-radius: 10px 10px 0 0;
  min-height: 60px;
  color: #0f9fff;
}

a {
  padding: 1%;
  margin: 0;
  color: #006EB6;
}

a:visited {
  color: #caa851;
}

a:hover {
  color: #caa851;
}

.center {
  align-content: center;
  text-align: center;
}

a.btn {
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  border: 3px solid #eaeaea;
  color: #eaeaea;
  padding: 1%;
  font-weight: bold;
  font-size: medium;
}

.btn:hover {
  border: 3px solid #006EB6;
  color: #006EB6;
  background: #eaeaea;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
}

header h1:before {
  font-size: 24px
}

header h2:before {
  font-size: 18px
}

h3 {
  font-size: .65rem;
}

.desc {
  padding: 0 2%;
  margin: 0;
  color: #eaeaea;
  font-size: .65rem;
}

.glossary {
  padding: 0 2%;
  margin: 0;
  color: #eaeaea;
  font-size: .85rem;
}

#resources, .flipcard {
  display: flex;
}

.flipcard {
  background: #222b2f;
  width: 280px;
  height: 325px;
  border-radius: 10px;
  perspective: 1000px;
  margin: 2% auto;
  padding: 0;
}

.flipcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.flipcard:hover .flipcard-inner {
  transform: rotateY(180deg);
}

.flipcard-front, .flipcard-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px !important;
  width: 280px;
  height: 325px;
}

.flipcard-front, .flipcard-front h4 {
  background: black;
  max-height: 325px;
  margin: 0 auto;
  border: 2px solid #222;
  border-radius: 10px 10px 0 0;
}

.flipcard-front img {
  top: 35px;
  width: 280px;
  max-height: 205px;
  margin: 0 auto;
  padding: 0;
  object-fit: contain;
}

.flipcard-front div.overlay {
  position: absolute;
  color: chartreuse;
  font-size: 1.1rem;
  text-align: center;
  max-width: 100%;
}

.flipcard-back p {
  padding: 4%;
  font-size: .75rem;
}

.flipcard-back {
  background-color: black;
  color: #eaeaea;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.container {
  width:90%;
  max-width:1000px;
  margin:0 auto
}

section {
  display:block;
  margin:0 0 20px 0
}

h1,h2,h3,h4,h5,h6 {
  margin:0 0 20px
}

header a img {
float: right;
margin-top: -2px;
width: 250px;
}

header h1 {
font-size: 30px;
line-height: 1.5;
margin: 0 0 0 -40px;
font-weight: bold;
text-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
letter-spacing: -1px;
-webkit-font-smoothing: antialiased
}

header h2 {
font-size: 18px;
font-weight: 300;
color: #666
}

@media screen and (min-width: 690px) {

    #newsfeed-container {
      grid-template-columns: 1fr 1fr;
    }

    h1, h2, h3, h4, h5, h6 {
      padding: 2%;
    }
}

@media screen and (min-width: 992px) {

  a.btn {
    padding: .5%;
  }

  header h1 {
      margin-left: 0
  }

  #newsfeed-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1250px) {

  #newsfeed-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
