@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Handlee&family=Hubballi&family=Nunito:wght@300&family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap');

body {
  background: #222b2f;
  background-image: url("img/markus-spiske-70Rir5vB96U-unsplash.jpg");
  font-family: Monaco, "Bitstream Vera Sans Mono", Consolas, "Lucida Console", monospace;
}

#newsfeed-container {
  display: grid;
  grid-template-columns: 1fr;
  background: #222b2f;
  color: #caa851;
}

h1, h2, h3, h4, h5, h6, .title {
  color: #caa851;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  margin: 0;
  padding: 4%;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: .9rem;
}

h5 {
  font-size: .7rem;
}

.standout {
  padding: 0;
  margin: 0;
  color:magenta;
}

a {
  padding: 1%;
  margin: 0;
  color: chartreuse;
}

a:visited {
  color: #caa851;
}

a:hover {
  color: #caa851;
}

.center {
  align-content: center;
  text-align: center;
}

a.btn {
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  background: #006EB6;
  border: 3px solid #eaeaea;
  color: #eaeaea;
  padding: 2%;
  font-weight: bold;
  font-family: 'Roboto Slab', sans-serif;
  font-size: medium;
}

.btn:hover {
  border: 3px solid #006EB6;
  color: #006EB6;
  background: #eaeaea;
  text-decoration: none;
}

.desc {
  padding: 0 2%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#resources, .flipcard {
  display: flex;
}

.flipcard {
  background: #222b2f;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  perspective: 1000px;
  margin: 2% auto;
  padding: 0;
}

.flipcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.flipcard:hover .flipcard-inner {
  transform: rotateY(180deg);
}

.flipcard-front, .flipcard-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.flipcard-front {
  background: black;
  max-height: 300px;
  margin: auto;
}

.flipcard-front div.overlay {
  position: absolute;
  top: 2%;
  color: chartreuse;
  font-size: 1rem;
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  z-index: 1;
  width: 100%;
}

img {
  border-radius: 10px;
  width: 100%;
  position: relative;
  max-width: 100%;
  max-height: 240px;
  padding: 0;
  margin: 0 auto;
  object-fit: cover;
  z-index: 10;
}

.flipcard-back p {
  padding: 4%;
  font-size: .7rem;
}

.flipcard-back {
  background-color: black;
  color: #eaeaea;
  transform: rotateY(180deg);
  border-radius: 10px;
}

@media screen and (min-width: 690px) {

    #newsfeed-container {
      grid-template-columns: 1fr 1fr;
    }

    h1, h2, h3, h4, h5, h6 {
      padding: 2%;
    }
}

@media screen and (min-width: 992px) {

  #newsfeed-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1250px) {

  #newsfeed-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
